@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F5F5F9;
}
.main-shadow{
  box-shadow: 0px 10px 30px rgba(17, 38, 146, 0.05);
}
.main-border{
  border:2px solid #D1D1D1;
}
.divider-horizontal{
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.divider-vertical{
  border: 1px solid rgba(0, 0, 0, 0.15);
  transform: rotate(90deg);
  width: 62px;
}

/* calender */
.rmdp-wrapper{
  width: 100% !important; 
  text-align: center !important;
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  transform: scale(1);
  box-shadow: none !important;
  /* align-items: center !important; */
}
.rmdp-day{
  width: 50px !important;
  height: 50px !important;
}
@media only screen and (max-width: 600px) {
  .rmdp-day{
    width: 43px !important;
    height:43px !important;
  }
}
@media only screen and (max-width: 1470px) {
  .rmdp-day{
    width: 41px !important;
    height:41px !important;
  }
}
.sidebar-box{
  width: 0;
  transition: width 2s;
}

/*  circle chart */
.card:nth-child(1) svg circle:last-of-type {
  stroke: #f39c12;
}
.card .percent {
  position: relative;
}
.card svg {
  position: relative;
  width: 210px;
  height: 210px;
  transform: rotate(-90deg);
}

.card svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 8;
  stroke-linecap: round;
}

.card svg circle:last-of-type {
  stroke-dasharray: 625px;
  stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
  stroke: #326ABD; 
}


/* material mui pagination */
.MuiPagination-ul{
  background: transparent !important;
}
.MuiPagination-ul li{
  background: #FFFFFF !important;
  border: 1px solid #DFE3E8 !important;
  border-radius: 4px !important;
  margin: 0 2px;
  height: 35px;
  width: 35px;
  display: flex ;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}
.MuiPagination-ul li button{
  width: 100%;
  height: 100%;
  border: none ;
}

.Mui-selected {
  background-color: transparent !important;
  margin: 0 1px;
  color: #4200FF  !important;
  border:2px solid #4200FF  !important;

}
.Mui-selected svg{
  color: #4200FF  !important;
  
}
.MuiDataGrid-cellContent:nth-child(1){
  text-align: center !important;
  width: 100%;
}
.MuiDataGrid-columnHeaderTitle{
  text-align: center !important;
  width: 100%;
}

.MuiDataGrid-columnHeaderTitleContainerContent{
  width: 100%;
}
.MuiDataGrid-columnHeader .MuiDataGrid-columnSeparator{
  display: none !important;
}